.navbar-inverse {
    background-image: -webkit-linear-gradient(top,#641E16 0,#641E16 100%);
    background-color: #641E16;
    border-color: #641E16;
    margin: 0px;
}

.navbar {
  border-radius: 0px;
}

.carousel-inner > .item > img{
  /*width:640px;*/
  height:400px;
}

.row {
  margin-top: 30px;
}
.master-header {
  background-color: #FFFFF0;
}

.logo {
  margin-top: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
}

.search-bar {
    padding-left: 300px;
    bottom: 50px;
    position: 50%
}

.container {
    margin-left:  10px;
    margin-right: 10px;
}

#footer {
  background-color: #641E16;
}

#copyright{
  margin-left: 10px;
  margin-bottom: 20px;
  color: ivory;
}